



body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color:#20642b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
    margin-top:100px
    
  }
  
  h1 {
    margin-bottom: 20px;
    color: white
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    background-color: white;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 4px rgba( 0 , 0 , 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0a0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #weatherInfo {
   margin-top: 20px;
  }

  #weatherInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #weatherInfo p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  #weatherIcon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 00.3s));
  }
  .weather small{
     font-size: 1rem;
  }

  .weather{
    font-size: 2rem;
    text-align: center;
  }